.getStarted:hover {
  color: var(--ifm-color-primary) !important;
  border-color: var(--ifm-color-primary) !important;
}

.getStarted {
  color: white !important;
  background-color: transparent !important;
}

a{
  transition: color 0.2s;
}

a>code {
  color: var(--ifm-link-color);
}

a.contents__link>code {
  color: var(--ifm-code-color);
}

.menu--responsive>button {
  background-color: var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);
}

.heroBanner {
  padding: 3.7rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #272822;
  color: white;
}

.heroImg {
  height: 200px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: pop_out;
  animation-name: pop_out;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 3rem 0 2em 0;
  width: 100%;
  text-align: center;
}

.featureImage {
  height: 100px;
  width: auto;
  margin-bottom: 10px;
}

@keyframes pop_out {
  0% {
    opacity: 0;
    -webkit-transform: scale(.1) rotate(30deg);
    transform: scale(.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg)
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg)
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}