.showcaseCard {
  height: 100%;
  transition: 0.3s;
  border: 1px solid #ddd;
}

.showcaseCard:hover {
  transform: scale(1.07);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}
